/* color variables */
@darkgray: #101010;
@lightgray: #b9c2c7;
@darksteel: #596166;

/* variables font size*/
@titlefontsize: 55px;
@navfontsize: 27px;
@navfontsizehover: 30px;

@universalfont: 'Luminari', fantasy;

body
{
    /* top right bottom left*/
    margin: 0 0 0 0;
    background-color: @darkgray;
}

/* header */
header
{
    margin: 15px 0 15px 0;
    display: flex;
    
    color: brown;
}
h1
{
    margin: 0 10px 0 10px;

    font-family: @universalfont;
    font-size: @titlefontsize;
    letter-spacing: 5px;
}
.icon
{
    float: left;
    flex-grow: 100;
}
#maintitle
{
    float: left;
    width: fit-content;
    padding: 0 2% 0 2%;

    text-align: center;
}
img.icon
{
    width: auto;
    height: calc(@titlefontsize + 12px);
}

/* nav */
nav
{
    padding: 10px 0 10px 0;
    background-color: brown;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navdiv
{
    float: left;
    width: 23%;
    min-height: calc(@navfontsizehover + 10px);
    margin: 0px 1% 0px 1%;
    padding: 0px 4% 0px 4%;
    box-sizing: border-box;

    text-align: center;
    font-size: @navfontsize;
    font-family: @universalfont;
    letter-spacing: 2px;
    color: @lightgray;
    a
    {
        color: inherit;
        text-decoration: none;
    }
}
.navdiv:hover
{
    font-size: @navfontsizehover;
    color: white;
}
#onhover
{
    font-size: @navfontsizehover;
    color: white;
}

@media only screen and (max-width: 611px)
{
    /* header */
    @titlefontsize: 40px;
    h1
    {
        font-size: @titlefontsize;
        letter-spacing: 4px;
    }
    img.icon
    {
        height: calc(@titlefontsize + 8px);
    }

    /* nav */
    @navfontsize: 21px;
    @navfontsizehover: 23px;
    .navdiv
    {
        min-height: calc(@navfontsizehover + 8px);
        font-size: @navfontsize;
    }
    .navdiv:hover
    {
        font-size: @navfontsizehover;
    }
    #onhover
    {
        font-size: @navfontsizehover;
        color: white;
    }
}
@media only screen and (max-width: 453px)
{
    /* nav */
    @navfontsize: 17px;
    @navfontsizehover: 18px;
    .navdiv
    {
        min-height: calc(@navfontsizehover + 8px);
        font-size: @navfontsize;
    }
    .navdiv:hover
    {
        font-size: @navfontsizehover;
    }
    #onhover
    {
        font-size: @navfontsizehover;
        color: white;
    }
}
@media only screen and (max-width: 400px)
{
    /* header */
    @titlefontsize: 25px;
    h1
    {
        font-size: @titlefontsize;
        letter-spacing: 3px;
    }
    img.icon
    {
        height: calc(@titlefontsize + 5px);
    }

    /* nav */
    @navfontsize: 15px;
    @navfontsizehover: 15px;
    .navdiv
    {
        min-height: calc(@navfontsizehover + 8px);
        font-size: @navfontsize;
    }
    .navdiv:hover
    {
        font-size: @navfontsizehover;
    }
    #onhover
    {
        font-size: @navfontsizehover;
        color: white;
    }
}

/* content */
@content_margin: 25%;
.content
{
    margin-left: @content_margin;
    margin-right: @content_margin;
    min-width: 50%;
    max-width: 80%;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
    background-color: @lightgray;
}
.timeline
{
	position: absolute;
    width: calc(@content_margin * 0.8 - 40px);
	left: calc(@content_margin * 0.05);
	top: 22%;
    padding: 10px 20px 10px 20px;
    background-color: @lightgray;
}
@media only screen and (max-width: 1600px)
{
    @content_margin: 20%;
    .content
    {
        margin-left: @content_margin;
        margin-right: @content_margin;
    }
    .timeline
    {
        width: calc(@content_margin * 0.8 - 40px);
        left: calc(@content_margin * 0.05);
    }
}
@media only screen and (max-width: 1200px)
{
    @content_margin: 15%;
    .content
    {
        margin-left: @content_margin;
        margin-right: @content_margin;
    }
    .timeline
    {
        position: relative;
        width: auto;
        padding: 10px 0px 10px 0px;
        left: 0;
    }
}
@media only screen and (max-width: 800px)
{
    @content_margin: 10%;
    .content
    {
        margin-left: @content_margin;
        margin-right: @content_margin;
    }
    .timeline
    {
        position: relative;
        width: auto;
        padding: 10px 0px 10px 0px;
        left: 0;
    }
}

/* text */
h3
{
    margin-bottom: 10px;

    font-size: 21px;
    font-family: @universalfont;
    letter-spacing: 1px;
}
h3.center
{
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}
ul
{
    list-style-type: none;
    padding: 0 0 0 10px;
}
p.boldp
{
    font-weight: 700;
    margin-bottom: 2px;
}
h2
{
    margin-bottom: 10px;

    font-weight: 500;
    text-align: center;
    font-size: 30px;
    font-family: @universalfont;
    letter-spacing: 3px;
    color: brown;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: brown;
}
h4
{
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 20px;
}
p
{
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 18px;
}
.textbox
{
    float: left;
    width: 60%;
    margin-bottom: 20px;
}
.imagebox
{
    float: left;
    width: 35%;
    padding: 0 0 0 5%;

    font-style: italic;
}
@media only screen and (max-width: 800px)
{
    .textbox
    {
        width: auto;
        float: none;
    }
    .imagebox
    {
        float: none;
        padding: 0 0 0 0;
        width: 60%;
        margin: auto;
    }
}
@media only screen and (max-width: 500px)
{
    .imagebox
    {
        width: 80%;
    }
    p.addition
    {
        display: none;
    }
}
img
{
    width: 100%;
}
footer
{
    float: right;
    margin: 30px 30px 20px 0px;

    color: white;
}
#window
{
    display: none;
}
.window
{
    width: 80%;
    max-height: 80%;
    height: fit-content;
    margin: auto;
    background-color: @lightgray;
    display: block;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 2;
    text-align: center;

    border-style: solid;
    border-width: 3px;
    border-color: black;

    img
    {
        width: auto;
        margin: 10px 10px 6px 10px;
        max-width: calc(80vw - 26px);
        max-height: calc(80vh - 67px);
    }
}
.topbar
{
    background-color: brown;
    height: fit-content;

    font-size: 22px;
    color: black;
    font-weight: 800;
}
.imgtitle
{
    float: left;
    padding: 10px 0px 10px 10px;

}
.close
{
    float: right;
    padding: 10px 10px 10px 0px;
}